<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Login to SURFdrive using IRMA</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://irmago.surfconext.nl/irma.js" defer></script>
    <script type="text/javascript">

      // UI handling functions
      function clearOutput() {
        const e = document.getElementById('result');
        e.setAttribute('hidden', 'true');
        e.classList.remove('succes', 'warning', 'error');
      }
      function showError(err) {
        const e = document.getElementById('result');
        e.removeAttribute('hidden');
        e.classList.remove('success');
        if (err === irma.SessionStatus.Cancelled) {
          e.classList.add('warning');
          e.innerText = 'Session was aborted';
        } else {
          e.classList.add('error');
          e.innerText = 'Error occurred: ' + String(err);
        }
        throw err;
      }
      function showSuccess(text) {
        const e = document.getElementById('result');
        e.innerHTML = text;
        e.removeAttribute('hidden');
        e.classList.add('success');
      }

      function doVerificationSession() {

        clearOutput();
        showSuccess('Starting...');

        const server = 'https://irmago.surfconext.nl/irmaserver';
        const session = {{ session | raw }};
        const sessionPtr = session.sessionPtr;
        const token = session.token;

        return irma.handleSession(session.sessionPtr, {server: server, token: session.token, method: 'popup', language: 'en'})
          .then(function(result) {
            document.getElementById("discloseForm").elements.namedItem("token").value = token;
            document.getElementById("discloseForm").submit();
          })
          .catch(function(err) { showError(err); });
      }

      window.onload = function() {
        document.getElementById('verification').addEventListener('click', doVerificationSession);
      };
    </script>
  </head>
  <body>
    <p id="logo"><img src="logo.png"/></p>
    <div id="container">
      <h1>Login to SURFdrive using IRMA</h1>
      <p>
        Welkom! Via deze pagina kun je inloggen op SURFdrive met IRMA. SURFdrive voert hiervoor samen met SURFspot een pilot uit. Meer informatie kun je vinden op: <a href="https://surf.nl" target="_blank">www.surf.nl</a>.
      </p>
      <p>
        Om in te kunnen loggen heb je de IRMA app nodig. Ook moet je via SURFspot de benodigde SURFdrive licentie hebben aangeschaft, en deze aan je IRMA app hebben toegevoegd. Heb je dat nog niet gedaan? Dan kun je nog niet inloggen. <a href="https://surf.nl" target="_blank">Lees hier hoe je de benodigde licentie kunt aanschaffen en activeren</a>.
      </p>
      <p>
        Klik op de onderstaande 'Login'-knop om verder te gaan. Je krijgt dan een QR-code te zien. Scan deze met je IRMA app.
      </p>

      <div id="result" class="status" hidden></div>
      <p align="center"><button id="verification">Login</button></p>

      <form id="discloseForm" method="post" action="/response" >
        <input type="hidden" name="SAMLRequest" value="{{ SAMLRequest | e }}" />
        {% if RelayState %}
        <input type="hidden" name="RelayState" value="{{ RelayState | e('html_attr') }}" />
        {% endif %}
        <input type="hidden" id="token" name="token" value="" />
    </form>

    </div>
    
  </body>
</html>
